<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- css -->
    <link rel="stylesheet" href="/uikit-3.1.2/css/uikit.min.css" />
    <link rel="stylesheet" href="/uikit-3.1.2/css/login.css" />
    <title>Manager</title>
</head>

<body>
    <div
        style="text-align: center; justify-content: center; align-items: center; display: flex; position: absolute; width: 100%; height: 100%;">
        <div>
            <h1>Manager</h1>
        </div>
    </div>
    <!-- js -->
    <script src="/uikit-3.1.2/js/uikit.min.js"></script>
    <script src="/uikit-3.1.2/js/uikit-icons.min.js"></script>
</body>

</html>